<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Get Ready For X²</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="/assets/css/grayscale.css" rel="stylesheet">

    <link href="/assets/css/registration.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {{!-- Linksss --}}

    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Static_x2/fonts/icomoon/style.css">
    <link rel="stylesheet" href="../Static_x2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Static_x2/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="../Static_x2/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../Static_x2/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../Static_x2/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="../Static_x2/css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="../Static_x2/css/style.css">

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">


    {{!--  --}}

</head>

<body>
    {{{ body }}}
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="/assets/js/signup.js"></script>
    <!-- Theme JavaScript -->
    <script src="/assets/js/grayscale.js"></script>



    {{!-- Linksss --}}
    <script src="../Static_x2/js/jquery-3.3.1.min.js"></script>
    <script src="../Static_x2/js/popper.min.js"></script>
    <script src="../Static_x2/js/bootstrap.min.js"></script>
    <script src="../Static_x2/js/owl.carousel.min.js"></script>
    <script src="../Static_x2/js/jquery.sticky.js"></script>
    <script src="../Static_x2/js/jquery.waypoints.min.js"></script>
    <script src="../Static_x2/js/jquery.animateNumber.min.js"></script>
    <script src="../Static_x2/js/jquery.fancybox.min.js"></script>
    <script src="../Static_x2/js/jquery.easing.1.3.js"></script>
    <script src="../Static_x2/js/aos.js"></script>

    <script src="../Static_x2/js/main.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <script src="/assets/js/login.js"></script>

    <!-- Theme JavaScript -->
    <script src="/assets/js/grayscale.js"></script>

    {{!--  --}}

</body>

</html>